@model List<AcunMedyaTravelProject.Entities.Testimonial>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<!-- Font Awesome ikonları -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div class="container mt-5">


    <div class="card shadow-lg rounded">

        <div class="card-header text-white d-flex justify-content-between align-items-center" style="background-color: #e67e22;">
            <h3 class="mb-0">Referanslar</h3>
            <a href="/Testimonial/AddTestimonial/" class="btn" style="background-color: #dc3545; color: white;">
                <i class="fas fa-plus"></i> Yeni Referans
            </a>
        </div>

        <div class="card-body">
            <table class="table table-bordered table-hover text-center align-middle">
                <!-- tablo başlıkları - turuncu ton -->
                <thead style="background-color: #e67e22; color: white;">
                    <tr>
                        <th>ID</th>
                        <th>İsim<th>
                        <th>Soyisim</th>
                        <th>Resim Url</th>
                        <th>Açıklama</th>
                        <th>Güncelle</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.TestimonialID</td>
                            <td>@item.Name</td>
                            <td>@item.Surname</td>
                            <td>@item.ImageUrl</td>
                            <td>@item.Description</td>
                            <td>
                                <a href="/Testimonial/UpdateTestimonial/@item.TestimonialID" class="btn" style="background-color: #dc3545; color: white;">
                                    <i class="fas fa-edit"></i> Güncelle
                                </a>
                            </td>
                            <td>
                                <a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn" style="background-color: #e74c3c; color: white;" onclick="return confirm('Bu rezervasyonu silmek istediğinize emin misiniz?');">
                                    <i class="fas fa-trash-alt"></i> Sil
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


