
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="UTF-8">
    <style>
        .daire-resim {
            width: 550px;
            height: 550px;
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid orange;
        }
        div {
            background-color: #ECFAE5;
        }
        body {
            background-color: #ECFAE5;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Helin | Seyahat Acentesi Açılış Sayfası Kullanıcı Arayüzü</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="~/jadoo/public/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/jadoo/public/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/jadoo/public/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/jadoo/public/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="~/jadoo/public/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="~/jadoo/public/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="~/jadoo/public/assets/css/theme.css" rel="stylesheet" />

</head>


<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-5 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
            <div class="container">
                <a class="navbar-brand" href="https://localhost:44314/Default/Index#!"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0D3C8PDDz6-GRPDQqfvw5KzWp-sIo-2AC0w&s" height="70" alt="logo" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
                <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base align-items-lg-center align-items-start">
                        <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" href="#service">Hizmetler</a></li>
                        <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" href="#destination">Konum/Yer</a></li>
                        <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" href="#booking">Rezervasyon</a></li>
                        <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" href="#testimonial">Yorumlar</a></li>
                        <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" href="#!">Giriş Yap</a></li>
                        <li class="nav-item px-3 px-xl-4"><a class="btn btn-outline-dark order-1 order-lg-0 fw-medium" href="#!">Kayıt Ol</a></li>
                        <li class="nav-item dropdown px-3 px-lg-0">
                            <a class="d-inline-block ps-0 py-2 pe-3 text-decoration-none dropdown-toggle fw-medium" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">EN</a>
                            <ul class="dropdown-menu dropdown-menu-end border-0 shadow-lg" style="border-radius:0.3rem;" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">EN</a></li>
                                <li><a class="dropdown-item" href="#!">BN</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section style="padding-top: 7rem;">

            <div class="bg-holder" style="background-image: url(~/jadoo/public/assets/img/hero/hero-bg.svg); ">
            </div>
            <!--/.bg-holder-->

            <div class="container">
                <div class="row align-items-center">

                    <div class="col-md-5 col-lg-6 order-0 order-md-1 text-end"><img src="https://turizmpress.com/wp-content/uploads/2020/01/seyahat-acentas%C4%B1-e1579003546576.jpg" class="daire-resim" alt="Seyahat Acentası"></div>
                    <div class="col-md-7 col-lg-6 text-md-start text-center py-6">
                        <h4 class="fw-bold text-danger mb-3">Dünyanın bütün harikalarını gezin ve görün..</h4>
                        <h1 class="hero-title">Seyahat edin, eğlenin ve dolu dolu bir hayat yaşayın!!</h1>
                        <p class="mb-4 fw-medium">
                            Kalabalıktan uzak, keşfedilmemiş rotalar mı arıyorsun? Yoksa klasik tatillerin en konforlu hâlini mi?
                            İster tek başına, ister sevdiklerinle...
                            Helin Seyahat Şirketi, sana özel en uygun fiyatlarla, hayalindeki seyahati planlaman için burada!<br class="d-none d-xl-block" /><br class="d-none d-xl-block" />
                        </p>
                        <div class="text-center text-md-start">


                            <div class="modal fade" id="popupVideo" tabindex="-1" aria-labelledby="popupVideo" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                    <div class="modal-content">
                                        <iframe class="rounded" style="width:100%;max-height:500px;" height="500px" src="https://www.youtube.com/embed/_lhdhL4UDIo" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- ============================================-->
        <!-- <section> begin ============================-->
        @Html.Action("PartialServices", "Default")
        <!-- <section> close ============================-->
        <!-- ============================================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        @Html.Action("PartialDestinations", "Default")
        <!-- <section> close ============================-->
        <!-- ============================================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section id="booking">

            <div class="container">
                <div class="row align-items-center">
                    @Html.Action("PartialBookingSteps", "Default")
                    @Html.Action("PartialBookings", "Default")
                </div>
            </div><!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        @Html.Action("PartialTestimonial", "Default")
        <!-- <section> close ============================-->
        <!-- ============================================-->


        @Html.Action("PartialSponsor", "Default")


        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <!-- <section> close ============================-->
        <!-- ============================================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <!-- <section> close ============================-->
        <!-- ============================================-->


        <div class="py-5 text-center">
            <p class="mb-0 text-secondary fs--1 fw-medium">Şikayet ve istekler için bize ulaşın --> helinergon82@gmail.com </p>
        </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="~/jadoo/public/public/vendors/popper.min.js"></script>
    <script src="~/jadoo/public/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="~/jadoo/public/vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="~/jadoo/public/vendors/fontawesome/all.min.js"></script>
    <script src="~/jadoo/public/assets/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap" rel="stylesheet">
</body>

</html>







