
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


<head style="background-color: #FFDB58">
    <style>
        #sidebar {
            background-color: #FFDB58;
        }
    </style>
  

    @Html.Action("PartialHead", "AdminLayout")
</head>
<body>

  


    <div style="background-color: #FFDB58 ; color:red"  class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        @Html.Action("PartialNavbar", "AdminLayout")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            @Html.Action("PartialSideBar", "AdminLayout")
            <!-- partial -->
            <div class="main-panel">
                @RenderBody()
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                @Html.Action("PartialFooter", "AdminLayout")

                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    @Html.Action("PartialScript", "AdminLayout")

</body>

</html>